// Header styles starts
.header{
  width: 1920px;
  height: 0px;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_ul{
  display:flex;
  justify-content: space-between;
}
.search_lang{
  width:30%;
}
